:root {
  --color-background: #f8f8f8;
  --theme-primary: #1e5799;
  --theme-secondary: #2989d8;
  --color-distinct: #fff;
  --color-text: #333;
  --color-text-alt: #555;
  --color-distinct-alt: #95a5a6;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-shadow-alt: rgba(0, 0, 0, 0.2);
}

html[data-theme="dark"] {
  --color-background: #1a1a1a;
  --theme-primary: #0c324c;
  --theme-secondary: #165b8c;
  --color-text: #ddd;
  --color-text-alt: #aaa;
  --color-shadow: rgba(256, 256, 256, 0.1);
  --color-shadow-alt: rgba(256, 256, 256, 0.2);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4em;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Ubuntu, Roboto, sans-serif;
  background-color: var(--color-background);
  overflow-x: hidden;
  margin: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
}

header #tagline-text {
  font-weight: bold;
}

#tagline-text::after {
  content: '|';
  /* blinking cursor */
  animation: blinkCursor 0.7s infinite;
}

@keyframes blinkCursor {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

#avatar {
  border-radius: 50%;
  height: 200px;
  margin: 20px;
  animation: floatAnimation 2s infinite ease-in-out;
  border: 1px outset var(--theme-secondary);
}

@keyframes floatAnimation {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

h1 {
  background: linear-gradient(to right, #ff5555, #5555ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

h2 {
  color: var(--theme-secondary);
  border-bottom: 2px solid var(--color-text-alt);
  padding-bottom: 10px;
}

p {
  text-wrap: pretty;
}

header,
section {
  margin: 20px;
  padding: 20px;
  color: var(--color-text);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--color-shadow);
}

.project,
.skill-set {
  text-align: center;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 20px 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px var(--color-shadow);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project img {
  width: min(100%, 600px);
  border-radius: 10px;
  box-shadow: 0 2px 5px var(--color-shadow);
}

.project h3 {
  margin: 10px 0;
  text-wrap: balance;
}

.project p {
  color: var(--color-text-alt);
}

.project a {
  border: 2px solid var(--theme-secondary);
  border-radius: 8px;
  display: inline-block;
  width: 25%;
  margin: auto 9%;
  padding: 4px;
  text-decoration: none;
  transition: border-color 0.3s ease-in-out;
}

.project:hover,
.skill-set:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px var(--color-shadow-alt);
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.category {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 4px 10px;
  padding: 7px;
  border-radius: 5px;
  border: 0.5px solid var(--color-shadow)
}

.category h4 {
  text-align: center;
}

.skill-set {
  display: flex;
  justify-content: center;
}

.skill-set img {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  margin: 5px;
  transition: transform 0.3s ease-in-out;
}

.skill-set img:hover {
  transform: scale(1.2);
}

.soft-skills {
  text-align: left;
}

.soft-skills li {
  margin-left: 10px;
  padding: 3px;
}

button {
  padding: 12px 20px;
  background-color: var(--theme-secondary);
  color: var(--color-distinct);
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: var(--theme-primary);
}

footer {
  background-color: var(--theme-primary);
  color: var(--color-distinct);
  text-align: center;
  padding: 3px;
  font-size: small;
}

form {
  display: grid;
  grid-gap: 10px;
}

input,
textarea {
  background: transparent;
  border-radius: 7px;
  border: 1px solid var(--theme-secondary);
  padding: 7px;
}

#social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

#social a {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
}

#social img {
  height: 20px;
  width: 20px;
}

#navbar {
  background: linear-gradient(to right, var(--theme-primary), var(--theme-secondary));
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
}

#navbar a {
  display: block;
  float: left;
  color: var(--color-distinct);
  padding: 14px;
  margin: 4px;
  border: 0.5px solid;
  text-decoration: none;
  transition: background-color 0.3s;
}

#navbar a:first-child {
  border: none;
}

#navbar a:hover,
.project a:hover {
  background-color: var(--theme-primary);
  color: var(--color-distinct-alt);
}

#navbar a.active,
#navbar.responsive a.active {
  background-color: var(--theme-secondary);
  color: var(--color-distinct);
}

#navbar #hamburger {
  display: none;
  float: right;
  cursor: pointer;
  font-weight: bolder;
  padding: 12.5px;
  border: 0.5px solid;
  background-color: var(--theme-primary);
  color: var(--color-distinct);
  transition: background-color 0.3s ease-in-out;
}

#logo {
  border-radius: 50%;
  padding: 0;
}

#navbar #mode-btn {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 768px) {
  #navbar a:not(:first-child) {
    display: none;
  }

  #navbar a#hamburger {
    display: block;
  }

  #navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .soft-skills {
    flex-direction: column;
  }
}